.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.app{
 display: flex;
}
Table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid rgb(178, 182, 182);
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

th {
  background-color: #9d9e9a;
}

td {
  background-color:#eef0e9;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

